@{
    ViewData["Title"] = "Home Page";
}

    <div class="text-center">
        <h1 class="display-4">Dashboard</h1>
        <hr />
        <div class="clearfix">&nbsp;</div>

        <div class="row">
            <div class="col-sm-4">
                <div class="card" style="width: 18rem;">
                    <span class="fa fa-5x fa-users"></span>
                    <div class="card-body">
                        <h5 class="card-title">Customers</h5>
                        <p class="card-text">Add, Edit or Delete your customers</p>
                        <a asp-controller="Customers" asp-action="Index" class="btn btn-primary">Customers</a>
                    </div>
                </div>
            </div>
            <div class="col-sm-4">
                <div class="card" style="width: 18rem;">
                    <span class="fa fa-5x fa-briefcase"></span>
                    <div class="card-body">
                        <h5 class="card-title">Services</h5>
                        <p class="card-text">Add, Edit or Delete the Services you offer</p>
                        <a asp-controller="Services" asp-action="Index" class="btn btn-primary">Services</a>
                    </div>
                </div>
            </div>
            <div class="col-sm-4">
                <div class="card" style="width: 18rem;">
                    <span class="fa fa-5x fa-dollar"></span>
                    <div class="card-body">
                        <h5 class="card-title">Payments</h5>
                        <p class="card-text">Add, Edit or Delete the payments you receive</p>
                        <a asp-controller="Payments" asp-action="Index" class="btn btn-primary">Payments</a>
                    </div>
                </div>
            </div>
        </div>

        <div class="clearfix">&nbsp;</div>

        <div class="row">
            <div class="col-sm-4">

            </div>
            <div class="col-sm-4">
                <div class="card" style="width: 18rem;">
                    <span class="fa fa-5x fa-area-chart"></span>
                    <div class="card-body">
                        <h5 class="card-title">Customers by Services</h5>
                        <p class="card-text">Report of your customers grouped by your Services</p>
                        <a asp-controller="Payments" asp-action="CustPayments" class="btn btn-primary">See Report</a>
                    </div>
                </div>
            </div>
            <div class="col-sm-4">

            </div>
        </div>

    </div>
