/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification
for details on configuring this project to bundle and minify static web assets. */

a.navbar-brand {
  white-space: normal;
  text-align: center;
  word-break: break-all;
}

.nav-gradient {
  background-image: linear-gradient(180deg, rgb(5, 39, 103) 0%, #3a0647 70%);
}

/* Sticky footer styles
-------------------------------------------------- */
html {
  font-size: 14px;
}
@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.border-top {
  border-top: 1px solid #e5e5e5;
}
.border-bottom {
  border-bottom: 1px solid #e5e5e5;
}

.box-shadow {
  box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

button.accept-policy {
  font-size: 1rem;
  line-height: inherit;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
  position: relative;
  min-height: 100%;
}

body {
  /* Margin bottom by footer height */
  margin-bottom: 60px;
}
.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  white-space: nowrap;
  /* Set the fixed height of the footer here */
  height: 60px;
  line-height: 60px; /* Vertically center the text there */
}

i {
    font-style:normal;
}

i:hover {
    color: #ec971f;
    cursor:default;
}

.first_line {
    margin-top:60px;
}

#masthead {
    min-height: 270px;
    background-color: #286090;
    color: #aaaacc;
    padding-top: 40px;
    padding-bottom: 15px;
}

    #masthead h1 {
        font-size: 55px;
        line-height: 1;
    }

    #masthead h2 {
        font-size: 35px;
        line-height: 1;
        color: #ffffff;        
    }

    #masthead .well {
        margin-top: 13%;
        background-color: #286090;
        border-color: #000033;
    }

    #masthead a#bd2 {
        padding: 20px 40px 20px 40px;
        margin-top: 10%;
        margin-left: 35%;
        float: left;
        font-size: 12pt;
        font-weight: bold;
    }

.updates-banner {
    background-color: #e3e3e3;
    color: #1e1e1e;
    font-size: 1.2rem;
    position: relative;    
}

.updates-banner p {
    text-align: center;
    margin: 1.1rem 0;
    padding-right: 4.2rem;
    padding-left: 4.2rem;    
}

#masthead a#bd2 {
    color: #fff;
    background-color: #ec971f;
    border-color: #d58512;
}

    #masthead a#bd2:hover {
        color: #fff;
        background-color: #d58512;
        border-color: #c0a16b;
        text-decoration: none;
    }

.terms {
    font-size: 14px;
    margin-top: 20px;
    margin-left: 25px;
    display: inline-block;
    padding: 4px 8px;
    color: rgba(255,255,255,0.6);
    width: 100%;
    text-align: center;
    float: left;
}

.icon-bar {
    background-color: #fff;
}

@media screen and (min-width: 768px) {
    #masthead h1 {
        font-size: 100px;
    }
}

.navbar-bright {
    background-color: #286090;
    color: #fff;
}

    .navbar-bright a, #masthead a, #masthead .lead {
        color: #aaaacc;
    }

    .navbar-bright li > a:hover {
        background-color: #204d74;
    }


#mainCol h2 {
    padding-top: 55px;
    margin-top: -55px;
}

pre {
    display: block;
    padding: 9.5px;
    margin: 0 0 10px;
    font-size: 13px;
    line-height: 1.42857143;
    color: #333;
    word-break: break-all;
    word-wrap: break-word;
    background-color: #f5f5f5;
    border: 1px solid #ccc;
    border-radius: 4px;
}

a.active {
    background:#286090;
}
